@value tokens: "../../styles/tokens.module.css";
@value colorBlue, colorOrange from tokens;

.content {
    composes: content from "../../styles/components.module.css";
}

.grid {
    composes: grid from "../../styles/components.module.css";
}

.bigLetter {
    composes: bigLetter from "../../styles/components.module.css";
    transform: translate(-80rem, 20rem);
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
    color: colorBlue;
    margin-top: 4rem;
}

.subtitle__line .subtitle:after{
    content:' ';
    display:block;
    border-bottom: .2rem solid colorOrange;
    width: 2rem;
    padding-top: .5rem;
}

.subtitle__line .subtitle{
    font-size: 2.6rem;
    margin-top: 6rem;
}

.header {
    grid-column: 1/ span 9;
    margin-top: 30vh;
    z-index: 2;
}

.header__title {
    composes: title from "../../styles/typo.module.css";
}

.text__wrapper {
    grid-column: 1/ span 9;
}

.header p, .text__wrapper p {
    margin-bottom: 2rem;
}

.header a, .text__wrapper a {
    color: colorOrange;
    text-decoration: none;
}

.text__indent {
    padding-left: 2.5rem;
}

.kopOne {
    font-weight: bold;
    margin-bottom: 1rem;
    color: colorOrange;
    font-size: 1.8rem;
}

.kopTwo {
    font-weight: bold;
    margin-bottom: 1rem;
    color: colorBlue;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.section__special {
    margin-top: 6rem;
}

.section__special div, .title__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.privacy ul {
    list-style-type: circle;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.policy__date {
    opacity: .6;
}

.smallcaps {
    font-size: 1.2rem;
    opacity: .5;
}

.text__bold {
    font-weight: bold;
}


@media (max-width: 1050px) {

    .content {
        width: 85vw;
    }

    .header__wrapper {
        grid-column: 1/ span 8;
        margin-top: 25vh;
    }
}

@media (max-width: 600px) {

    .header__title {
        margin-bottom: 1rem;
    }

    .header__wrapper {
        grid-column: 1/ span 12;
        margin-top: 20vh;
    }

    .socials a {
        margin-right: 3rem;
    }

    .bigLetter {
        font-size: 20rem;
        transform: translate(-60rem, 15rem);
    }
}

@media (max-width: 350px) {

    .header__wrapper {
        grid-column: 1/ span 10;
        margin-top: 20vh;
    }

    .socials a {
        margin-right: 2rem;
    }
}
