@value tokens: "../../styles/tokens.module.css";
@value colorBlue from tokens;

.mapContainer {
    /* position: absolute; */
    /* top: 60vh; */
    height: 65rem;
    width: 100%;
    margin: 6rem 0;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: absolute;
    width: 25%;
    top: 10px;
    left: 10px;
    padding: 10px;
    display: none;
}

.content {
    composes: content from "../../styles/components.module.css";
}

.grid {
    composes: grid from "../../styles/components.module.css";
}

.bigLetter {
    composes: bigLetter from "../../styles/components.module.css";
    transform: translate(-40rem, 20rem);
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
}

.btn {
    composes: btn from "../../styles/components.module.css";
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.btn svg path {
    fill: colorBlue;
}

.btn:hover svg path {
    fill: white;
}

.header__wrapper {
    grid-column: 1/ span 6;
    margin-top: 30vh;
    z-index: 2;
}

.header__wrapper p {
    margin-bottom: 1.5rem;
}

.header__title {
    composes: title from "../../styles/typo.module.css";
}

.cta__wrapper {
    grid-column: 4/ span 6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

