@value tokens: "./tokens.module.css";
@value colorBlue, colorOrange, fontSizeMedium from tokens;

.content {
    width: 96rem;
    margin: 0 auto;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3rem;
}
 
.btn {
    border: .1rem solid colorBlue;
    border-radius: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 20%;
    background-color: white;
    padding: 1.2rem 2.5rem;
    color: colorBlue;
    font-weight: bold;
    transition: ease-in-out .2s;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: colorBlue;
    color: white;
}

.bigLetter {
    font-size: 26rem;
    line-height: 0;
    font-weight: 900;
    color: #F2F2F2;
    z-index: 0;
    position: absolute;
    /* overflow: hidden; */
}

