@value tokens: "../../styles/tokens.module.css";
@value colorBlue, colorOrange, fontSizeMedium from tokens;

.header {
    background-image: url('/assets/img/header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 90vh;
}

.header__title {
    font-size: 8rem;
    color: white;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    width: 70vw;
    padding-left: 23rem;
    padding-top: 25rem;
    line-height: 1;
}

.header__intro {
    background-color: colorBlue;
    color: white;
    line-height: 1.8;
    width: 60vw;
    padding: 4rem 16rem 4rem 5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2.5rem;
}

.header__intro span {
    font-size: 5.6rem;
    font-weight: bold;
}

.intro__counter {
    font-size: 1.6rem;
    line-height: 1.5;
}

.content {
    width: 96rem;
    margin: 0 auto;
    margin-top: 20rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 5.3rem);
    grid-gap: 3rem;
}

.content__title {
    color: colorOrange;
    font-family: "DM Serif Display", serif;
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 5rem;
}

.content__wrapper {
    grid-column: 1 / span 5;
    padding-top: 3.5rem;
}

.content__wrapper p {
    margin-bottom: 1.5rem;
}

.content__textBold:first-child {
    font-weight: bold;
}

.content__img {
    grid-column: 7 / span 6;
}

.data__overview {
    grid-column: 1 / span 12;
}

.data__set {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data__number {
    font-size: 5.5rem;
    color: colorBlue;
    font-weight: bold;
}

.data__label {
    font-size: 1.8rem;
}

.data__small {
    font-size: 4rem;
}
