@value tokens: "../../styles/tokens.module.css";
@value colorBlue from tokens;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 2.5rem;
    z-index: 100;
    background-color: white;
    padding-bottom: 2rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.header__wrapper {
    width: 96rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__scroll {
    background-color: transparent;
    color: colorBlue;
}

.header svg path {
    fill: colorBlue;
}

.header__scroll svg path {
    fill: white;
}

@media (max-width: 1050px) {

    .header__wrapper {
        width: 85vw;
    }


}