@value tokens: "../../styles/tokens.module.css";
@value colorBlue, colorOrange from tokens;

.list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__item {
  margin: 1.5rem;
  padding: 1rem .5rem;
  color: colorBlue;
  text-decoration: none;
  border-bottom: .2rem solid transparent;
  transition: ease-in .2s;
}

.menu__item {
  margin: 1.5rem;
  padding: 1rem .5rem;
  color: white;
  text-decoration: none;
  border-bottom: .2rem solid transparent;
  transition: ease-in .2s;
  font-size: 2rem;
}

.mobile__menu {
  z-index: -4;
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width: 100vw;
  background-color: colorBlue;
}

.menu__scroll {
  background-color: white;
}

.mobile__menu ul {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__menu ul li{
  margin: 20px;
}

.nav__item:hover, .active {
  border-bottom: .2rem solid colorOrange;
}

.list__scroll .nav__item {
  color: white;
}

.menu__scroll .menu__item {
  color: colorBlue;
}

@media (max-width: 750px) {
    .list {
      display: none;
    }

}

