@value tokens: "../../styles/tokens.module.css";
@value colorBlue from tokens;

.content {
    composes: content from "../../styles/components.module.css";
}

.grid {
    composes: grid from "../../styles/components.module.css";
}

.bigLetter {
    composes: bigLetter from "../../styles/components.module.css";
    transform: translate(-40rem, 20rem);
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
}
