@value tokens: "../../styles/tokens.module.css";
@value colorBlue, colorOrange from tokens;

.content {
    composes: content from "../../styles/components.module.css";
}

.grid {
    composes: grid from "../../styles/components.module.css";
}

.bigLetter {
    composes: bigLetter from "../../styles/components.module.css";
    transform: translate(-80rem, 20rem);
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
    margin-top: 4rem;
}

.header__wrapper {
    grid-column: 1/ span 6;
    margin-top: 30vh;
    z-index: 2;
}

.header__wrapper p {
    margin-bottom: 1.5rem;
}

.header__title {
    composes: title from "../../styles/typo.module.css";
}

.socials a {
    margin-right: 4rem;
}

.socials svg {
    width: 4.5rem;
    height: 4.5rem;
}

.socials svg path {
    fill: colorBlue;
}

.socials svg:hover path {
    fill: colorOrange;
}

.mailLink {
    color: colorOrange;
}


@media (max-width: 1050px) {

    .content {
        width: 85vw;
    }

    .header__wrapper {
        grid-column: 1/ span 8;
        margin-top: 25vh;
    }
}

@media (max-width: 600px) {

    .header__title {
        margin-bottom: 1rem;
    }

    .header__wrapper {
        grid-column: 1/ span 12;
        margin-top: 20vh;
    }

    .socials a {
        margin-right: 3rem;
    }

    .bigLetter {
        font-size: 20rem;
        transform: translate(-60rem, 15rem);
    }
}

@media (max-width: 350px) {

    .header__wrapper {
        grid-column: 1/ span 10;
        margin-top: 20vh;
    }

    .socials a {
        margin-right: 2rem;
    }
}
