@value tokens: "../../styles/tokens.module.css";
@value colorBlue, colorOrange from tokens;

.content {
    composes: content from "../../styles/components.module.css";
}

.grid {
    composes: grid from "../../styles/components.module.css";
}

.bigLetter {
    composes: bigLetter from "../../styles/components.module.css";
    transform: translate(-60rem, 20rem);
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
    margin-top: 4rem;
}

.header {
    grid-column: 1/ span 6;
    margin-top: 30vh;
    z-index: 2;
}

.header__title {
    composes: title from "../../styles/typo.module.css";
}

.text__wrapper {
    grid-column: 1/ span 8;
}

.text__wrapper p {
    margin-bottom: 2rem;
}

.text__wrapper a {
    color: colorOrange;
}

@media (max-width: 1050px) {

    .content {
        width: 85vw;
    }

    .header {
        grid-column: 1/ span 8;
        margin-top: 20vh;
    }
}

@media (max-width: 900px) {

    .text__wrapper {
        grid-column: 1/ span 10;
    }

}

@media (max-width: 600px) {

    .header {
        grid-column: 1/ span 2;
        margin-top: 20vh;
    }

    .header__title {
        margin-bottom: 1rem;
    }

    .text__wrapper {
        grid-column: 1/ span 12;
    }

    .bigLetter {
        font-size: 20rem;
        transform: translate(-40rem, 16rem);
    }

    .subtitle {
        margin-top: 1rem;
        padding-bottom: 2rem;
    }

}

@media (max-width: 350px) {

    .text__wrapper {
        grid-column: 1/ span 10;
    }

}