.accordion {
    grid-column: span 10;
    box-shadow: 0px 2px 10px #E5E5E5;
    border-radius: 7px;
}

.accordion__item {
    grid-column: span 8;
}

.accordion__button {
    color: #36469D;
    font-weight: bold;
    padding: 3rem;
    border-bottom: .1rem solid #EBEDF5;
}

.accordion__button:hover {
    color: #EF4823;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 1rem;
    width: 1rem;
    margin-right: 1.2rem;
    border-bottom: .2rem solid currentColor;
    border-right: .2rem solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 2rem;
    animation: fadein 0.35s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 900px) {

    .accordion {
        grid-column: span 12;
        z-index: 2;
    }
}

@media (max-width: 350px) {

    .accordion__button {
        padding: 1.5rem;
    }

    .accordion__button:before {
        height: .6rem;
        width: .6rem;
    }

    .accordion {
        grid-column: span 10;
    }
}