@value tokens: "../../styles/tokens.module.css";
@value colorBlue, colorOrange from tokens;

.content {
    composes: content from "../../styles/components.module.css";
}

.grid {
    composes: grid from "../../styles/components.module.css";
}

.bigLetter {
    composes: bigLetter from "../../styles/components.module.css";
    transform: translate(-40rem, 20rem);
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
    margin-top: 4rem;
}

.header {
    grid-column: 1/ span 6;
    margin-top: 30vh;
    z-index: 2;
}

.header__title {
    composes: title from "../../styles/typo.module.css";
}

.questions__wrapper {
    grid-column: 1/ span 12;
    z-index: 2;
}

.questions__wrapper p { 
    margin-bottom: 2rem;
}

.questions__wrapper ul { 
    list-style-type: circle;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.questions__wrapper li { 
    margin-bottom: 2rem;
}

@media (max-width: 1050px) {

    .content {
        width: 85vw;
    }

    .header {
        grid-column: 1/ span 8;
        margin-top: 20vh;
    }
}


@media (max-width: 600px) {

    .header {
        grid-column: 1/ span 10;
        margin-top: 20vh;
    }

    .header__title {
        margin-bottom: 1rem;
    }

    .bigLetter {
        font-size: 20rem;
        transform: translate(-20rem, 20rem);
    }

}

@media (max-width: 450px) {

    .content {
        width: 90vw;
    }
}


