@value tokens: "../../styles/tokens.module.css";
@value colorBlue, colorOrange, fontSizeMedium from tokens;

.footer {
    background-color: colorOrange;
    color: white;
    margin-top: 14rem;
    padding: 5.5rem 0;
}

.hidden {
    display: none;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: colorOrange;
}

.grid {
    composes: grid from "../../styles/components.module.css";
}

.footer__wrapper {
    width: 96rem;
    margin: 0 auto;
}

.footer__left {
    grid-column: 1 / span 4;
    font-weight: bold;
}

.footer__middle {
    grid-column: 6 / span 4;
}

.footer__right {
    grid-column: 10 / span 3;
}

.footer__img {
    padding-top: 3rem;
}

.footer__title {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__navLink {
    color: white;
    text-decoration: none;
}

.footer__navLink:hover {
    color: colorBlue;
}

.footer__socials {
    display: flex;
    padding-top: 4.5rem;
}

.footer__socials svg {
    margin-right: 2.5rem;
}

.footer__socials svg:hover path {
    fill: colorBlue;
}

.subfooter {
    background-color: white;
    color: colorOrange;
    padding: 3rem 6rem;
    font-size: 1.4rem;

    display: flex;
    justify-content: space-between;
}

.policies {
    display: flex;
}

.policies p {
    margin-left: 2rem;
    
}