@value tokens: "../../styles/tokens.module.css";
@value colorBlue, colorOrange, colorLightBlue, fontSizeMedium from tokens;


/* GENERAL */

.global__wrapper {
    overflow-x: hidden;
}

.content {
    width: 96rem;
    margin: 0 auto;
    margin-top: 25rem;
    position: relative;
}

.upload__modal {
    position: static;
    top: 0;
    left: 0;
}

.grid {
    composes: grid from "../../styles/components.module.css";
}

.content__title {
    composes: title from "../../styles/typo.module.css";
    z-index: 1001;
}

.content__wrapper {
    grid-column: 1 / span 5; 
    z-index: 2; 
}

.content__wrapper p {
    margin-bottom: 1.5rem;
}

.bigLetter {
    composes: bigLetter from "../../styles/components.module.css";
    z-index: -1;
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
}

.btn {
    composes: btn from "../../styles/components.module.css";
}


/* HEADER SECTION */

.header {
    background-image: url('/assets/img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 100%;
    height: 90vh;
}

.header__wrapper {
    margin: 0 auto;
    width: 85vw;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    max-width: 2000px;
}

.header__title {
    font-size: 7rem;
    color: white;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    width: 88%;
    padding-top: 25vh;
    line-height: 1.1;
} 

.header__intro {
    background-color: colorBlue;
    color: white;
    line-height: 1.8;
    width: 60vw;
    padding: 4rem 8vw 4rem 5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}

.intro__counter {
    font-size: 1.6rem;
    line-height: 1.5;
}

.counter__total {
    font-size: 5.6rem;
    font-weight: bold;
}

/* HELP SECTION */

.help .content__wrapper {
    grid-column: 1 / span 5;
}


.content__textBold:first-child {
    font-weight: bold;
}

.content__img {
    object-fit: cover;
    grid-column: 7 / span 6;
}

.helpLetter {
    transform: translate(-35rem, -2rem);
}

/* DONATE SECTION */

.donate {
    grid-template-areas: "buttons buttons buttons buttons buttons buttons blank text text text text text";
}

.donate .content__wrapper {
    grid-column: 9 / span 5;
    grid-area: text;
}

.donate .content__title, .visible .content__title {
    width: 80%;
}

.donate__buttons {
    grid-column: 1 / span 6;
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 2rem;
}

.donate__buttons p {
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 3rem;
    margin-bottom: 20px;
}

.buttons__other, .buttons__our {
    align-self: flex-end;
    min-width: 170px;
}

.buttons__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons__wrapper button {
    margin-bottom: 2rem;
}

.line__img {
    position: absolute;
    transform: translate(0, 15rem);
    width: 50%;
    margin-top: 0px;
}

.donateLetter {
    transform: translate(60rem, 0rem);
}

/* CONTRIBUTE SECTION */

.contribute {
    margin-top: 30rem;
}

.contribute .content__wrapper {
    background-color: colorLightBlue;
    color: colorBlue;
    padding: 10rem;
    padding-right: 8rem;
    margin-left: -10rem;
    grid-column: 1 / span 6;
    grid-row: 1;
    z-index: 1;
}

.contribute .content__title {
    color: colorBlue;
}

.contribute .content__img {
    grid-column: 5 / span 8;
    grid-row: 1;
    margin-right: -10rem;
    position: relative;
    bottom: -12rem;
}

.contributeLetter {
    transform: translate(50rem, -3rem);
}


/* DATA SECTION */

.data__overview {
    grid-column: 1 / span 12;
}

.data .content__title {
    width: 40%;
}

.data__set {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data__number {
    font-size: 5.5rem;
    line-height: 1;
    color: colorBlue;
    font-weight: bold;
}

.data__label {
    font-size: 1.8rem;
}

.data__small {
    font-size: 4rem;
}

.data__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.5rem;
}

.dataLetter {
    transform: translate(-40rem, -20rem);
}


/* VISIBLE SECTION */

.visible {
    margin-top: 30rem;
}

.visible .content__wrapper {
    grid-column: 3 / span 7;
}

.route__img {
    position: absolute;
    right: 0;
    transform: translate(0, -45rem);
    width: 30%;
}

.visibleLetter {
    transform: translate(-40rem, 0rem);
}

/* PARTNER SECTION */


.partners {
    width: 96rem;
    margin: 0 auto;
}

.partner {
    background: white;
    box-shadow: 0px 2px 10px #E5E5E5;
    border-radius: 7px;
    grid-column: span 3;
    height: 10.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.partnersLetter {
    transform: translate(60rem, 15rem);

}

.partners_remove .content__wrapper {
    grid-column: 1 / span 12;
}

.inputHidden {
    position: absolute; 
    left: -5000px;
}

.informed .content__wrapper {
    grid-column: 3 / span 7;
}

.informed {
    margin-top: 5rem;
}

.informed .form {
    display: flex;
    flex-direction: column;
}

.informed .form label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
}

.form__input {
    background: transparent;
    border: none;
    border-bottom: .1rem solid colorOrange;
    padding: 1.5rem;
    outline: none;
    color: black;
    width: 100%;
}

.form__button {
    background: transparent;
    border: none;
    margin-left: -5rem;
}

@media (max-width: 1050px) {

    .content__img {
        width: 100%;
    }

    .content {
        width: 85vw;
        margin-top: 15rem;
    }

    .header__wrapper {
        width: 100vw;
    }

    .header__title {
        font-size: 7rem;
        padding-top: 20vh;
    }

    .header__intro {
        width: 75vw;
    }

    .header {
        margin-bottom: 200px;
    }

    .data__number {
        font-size: 4rem;
    }

    .data__small {
        font-size: 2.5rem;
    }

    .partners {
        width: 85vw;
    }

    .partner__img {
        width: 100%;
        object-fit: contain;
    }
}

@media (max-width: 900px) {

    .header__title {
        padding-top: 15vh;
    }

    .header__intro {
        width: 90vw;
    }

    .header__wrapper {
        padding: 0 20px;
        justify-content: center;
    }

    .bigLetter {
        font-size: 20rem;
    }

    .donate .content__title, .visible .content__title {
        width: 100%;
    }

    /* BIG LETTERS */

    .helpLetter {
        transform: translate(-18rem, 3rem);
    }

    .donate__buttons p {
        margin-bottom: 10px;
        width: 100%;
    }

    .contribute .content__wrapper {
        grid-column: 1 / span 8;
    }

    .contribute .content__img {
        position: relative;
        bottom: -35rem;
        height: 60%;
    }

    /* VISIBLE SECTION */

    .visible {
        margin-top: 25rem;
    }

    .visible .content__wrapper {
        grid-column: 1 / span 7;
    }

    .route__img {
        transform: translate(0, -40rem);
        width: 40%;
    }

    .partner {
        grid-column: span 4;
    }

}

@media (max-width: 750px) {

    .header__title {
        padding-top: 15vh;
        font-size: 6.5rem;
        width: 90%;
    }

    .header__intro {
        width: 90vw;
    }

    .header__wrapper {
        padding: 0 20px;
        justify-content: center;
    }

    .bigLetter {
        font-size: 20rem;
    }

    .data__number {
        font-size: 3.5rem;
    }

    .data__small, .data__label {
        font-size: 1.5rem;
    }

    .visible .content__wrapper {
        grid-column: 1 / span 10;
    }

    .route__img {
        transform: translate(0, -45rem);
        width: 30%;
    }

    .informed {
        margin-top: 10rem;
    }

    .informed .content__wrapper {
        grid-column: 1 / span 10;
    }


}

@media (max-width: 600px) {

    .content {
        margin-top: 15rem;
    }

    .header__wrapper {
        padding: 0 20px;
        justify-content: center;
    }

    .content__wrapper {
        grid-column: 1 / span 12;
    }

    .content__img {
        grid-column: 1 / span 12;
        height: 100%;
        margin-bottom: 100px;
    }

    .header__title {
        font-size: 5rem;
    }

    .content {
        align-self: center;
    }

    .line__img {
        margin-top: 40px;
    }

    .grid {
        align-self: center;
        grid-gap: 1rem;
    }

    .header__intro {
        grid-template-columns: 1fr;
        position: relative;
        bottom: -100px;
    }

    .header {
        height: auto;
        background-image: url('/assets/img/header_mobile.png');
        background-position: center center;
    }

    .donate {
        grid-template-areas: 
            "text"
            "buttons";
        margin-top: 20rem;
    }

    .donate__buttons {
        margin: auto;
    }

    .donate .content__title, .data .content__title {
        width: 90%;
    }

    .donate .content__wrapper, .donate__buttons {
        grid-column: 1 / span 12;
    }

    .donate .content__title {
        width: 60%;
    }

    .line__img {
        transform: translate(0, 0rem);
        width: 90%;
    }

    .data__set {
        grid-column: span 6;
    }

    .contribute {
        margin-bottom: 400px;
    }

    .contribute .content__wrapper {
        grid-column: 1 / span 12;
        padding: 5rem;
        margin-left: -5rem;
    }

    .contribute .content__title, .visible .content__title {
        width: 80%;
    }

    .contribute .content__img {
        grid-column: 1 / span 12;
        height: 300%;
        grid-row: 2;
        margin-top: 0;
        bottom: 0;
    }

    .visible .content__wrapper {
        grid-column: 1 / span 12;
    }

    .route__img {
        display: none;
    }

    .informed {
        margin-top: 5rem;
    }

    .informed .content__wrapper {
        grid-column: 1 / span 12;
    }

    .partner {
        grid-column: span 12;
    }

    .partner__okbLogo {
        height: 90%;
    }

    .helpLetter {
        transform: translate(-18rem, -2rem);
    }

    .donateLetter {
        transform: translate(20rem, 4rem);
    }

    .dataLetter {
        transform: translate(-25rem, -15rem);
    }

    .contributeLetter {
        transform: translate(5rem, -3rem);
    }

    .partnersLetter {
        transform: translate(5rem, 2rem);
    }
}

@media (max-width: 450px) {

    .header__title {
        font-size: 3.5rem;
        padding-top: 20vh;
    }

    .donate {
        margin-top: 15rem;
    }

    .donate .content__title, .data .content__title, .contribute .content__title, .visible .content__title  {
        width: 90%;
    }

    .partners_remove .content__title {
        width: 70%;
    }

    .contribute .content__wrapper {
        margin-left: -3rem;
        padding: 4rem 2rem;
    }

    .helpLetter {
        transform: translate(-18rem, -2rem);
    }

    .donateLetter {
        transform: translate(0rem, 4rem);
    }

    .dataLetter {
        transform: translate(-25rem, -15rem);
    }

    .data__number {
        font-size: 3rem;
    }
    .data__label {
        font-size: 1.3rem;
    }
 }

@media (max-width: 350px) {

    .data__number {
        font-size: 2.5rem;
    }
}

